/* Pseudo-class that matches the root element of the document. */
:root {
    --dark-shades: #240046;
    --dark-accent: #6444c3;
    --main-brand: #49d3f4;
    --light-accent: #f0a0cf;
    --light-shades: #f6eef3;
    --gradient: linear-gradient(45deg, var(--main-brand), var(--light-accent), var(--dark-accent));
    --heading: 'Oooh Baby', cursive;
    --body: 'Montserrat', sans-serif;
}

* {
    margin: 0;
}

body {
    background-color: var(--light-shades);
    font-family: var(--body);
    color: var(--dark-shades);
}

/* Extra large devices (large laptops and desktops */
/* @media screen and (min-width: 1200px) {} */

/* Large devices (laptops/desktops) */
/* @media screen and (min-width: 992px) {} */

/* Medium devices (landscape tablets/iPad) */
/* @media screen and (min-width: 768px) {} */

/* Small devices (portrait tablets/iPad and large phones) */
/* @media screen and (min-width: 600px) {} */

/* Extra small devices (phones) */
/* @media screen and (max-width: 600px) {} */

/* Header Section */

header {
    height: 8vh;
    padding: 5px;
}

/* Displays smooth transitions between the three specified colors - The linear gradient goes diagonally as defined by the 45 degrees */
header,
.standout,
button,
.icon-section i,
.about p:nth-child(5),
.column p,
.card-face.face1,
.card-content a:hover,
footer a:hover {
    background: var(--gradient);
}

h1,
nav a,
button a,
i,
.column p,
.card-face.face1 h4,
.contact-container .contact-card .card-face.face2 .card-content a:hover {
    color: var(--light-shades);
}

h1 {
    margin-top: 13px;
    margin-left: 20px;
    font-size: 35px;
    font-family: var(--heading);
}

h1,
h2,
h3,
/* Only the last p element in the About section has this property applied */
.about p:nth-child(5) {
    letter-spacing: .2em;
}

/* Makes the h1 and nav to be displayed horizontally */
h1,
nav {
    display: inline-flex;
}

/* The float keeps the nav bar on the right side of the page,
 the padding is adding space around it and the margin on the top and right of the nav to align it with h1 and make it more visually appealing */
nav {
    float: right;
    margin-top: 14px;
    margin-right: 20px;
    padding: 10px;
}

a {
    /* Removes the underline default for anchors tags */
    text-decoration: none;
    font-size: 18px;
}

nav a {
    margin-left: 25px;
}

nav a i {
    margin-right: 6px;
}

/* When hovering, the link color will change to smooth transitions between the three specified colors */
nav a:hover {
    background: -webkit-linear-gradient(45deg, var(--dark-accent), var(--light-accent), var(--main-brand));
}

nav a:hover,
.standout,
.icon-section i,
.about p:nth-child(5),
footer a:hover {
    /* Need to set that is a text you are removing the background / color or the gradient won't work */
    -webkit-background-clip: text;
    background-clip: none;
    /* Text-fill needs to be transparent to show the gradient */
    -webkit-text-fill-color: transparent;
}

/* Flex items that can wrap onto multiple lines. */
.intro-container,
.sub-header,
.about-section,
aside,
.row,
.column {
    flex-wrap: wrap;
}

/* Defines a flex container */
.intro-container,
.sub-header,
.about-section,
.icon-section,
.gallery,
.row,
.contact-section,
.contact-container,
.card-face.face1,
.card-face.face2 {
    display: flex;
}

/* Pack items around the center */
.intro-container,
.sub-header,
.avatar,
.intro,
.icon-section,
.about-section,
aside,
.column,
.card-face.face1,
.card-face.face2,
footer {
    justify-content: center;
    align-items: center;
}

.sub-header {
    flex-basis: 100%;
    height: 65vh;
}

.avatar {
    padding-bottom: 20px;
}

/* Set the position to relative so I can position its adjacent element */
.avatar,
.column,
.work-section,
.card-face.face1,
.card-face.face2 {
    position: relative;
}

/* Defines how a flex item will grow, shrink, and its initial main size - respectively - to fit the available space in its flex container */
.avatar,
aside {
    flex: 0 0 50%;
}

/* Top and left define the position where the image should be placed on the page */
.avatar img {
    top: -11em;
    left: -12em;
    flex: 0 0 60%;
    height: 45vh;
}

/* These elements are positioned relative to the nearest positioned ancestor and are removed from the normal flow */
.avatar img,
.intro,
.about,
.gallery,
/* Addded to overlap the image */
.column p,
.contact-container {
    position: absolute;
}

.intro {
    left: 34em;
    flex: 0 0 40%;
    margin-right: 80px;
}

h2 {
    /* To keep in the same line */
    white-space: nowrap;
    /* Clipes the overflow and hides duplicate text generated by the animation */
    overflow: hidden;
    /* Typing effect */
    animation:
        typing 3.5s steps(50, end),
        blink-caret .75s step-end infinite;
    /* Right and left margins need to be auto to move text while animation is on */
    margin: 0 auto 36px auto;
    font-size: 28px;
}

h2,
aside {
    border-right: .15em solid var(--light-accent);
}

h2,
.icon-section i,
.about p:nth-child(5) {
    font-weight: 400;
}

h2,
.gallery,
.column img {
    width: 100%;
}

/* Controls the intermediate steps in the animation sequence */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    100% {
        border-color: var(--dark-shades);
    }
}

.standout,
h3 {
    font-weight: 700;
}

.intro p {
    width: 70%;
}

.intro p,
.about p:nth-child(5) {
    font-size: 20px;
}

.intro p,
.about p {
    font-weight: lighter;
    text-align: justify;
    line-height: 30px;
}

button {
    margin-top: 90px;
    border: none;
    border-radius: 8%;
    width: 18vw;
    height: 5vh;
}

button i {
    margin-left: 8px;
}

.icon-section {
    height: 35vh;
    margin-left: 90px;
    padding-left: 20px;
}

.icon-section i {
    flex: 0 0 37%;
    font-size: 50px;
    padding: 0 3px;
}

.material-symbols-outlined {
    font-variation-settings:
        'wght' 700,
        'opsz' 48
}

.about-section {
    width: 100px;
}

aside {
    padding-top: 50px;
    width: 20%;
    height: 310vh;
}

aside,
.column,
.card-face.face1,
footer {
    text-align: center;
}

h3 {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
}

h3,
footer p {
    color: var(--dark-accent);
}

h3:nth-child(2) {
    margin-top: 300px;
}

#about {
    height: 80vh;
}

#about,
.work-section,
.column {
    top: 0;
}

#about,
.column,
.column p {
    left: 0;
}

#work {
    height: 140vh;
    padding-top: 10px;
}

#contact {
    height: 10vh;
    margin-bottom: 40px;
}

/* Hides the section's heading */
.hidden {
    display: none;
}

.about {
    top: 53em;
    left: 23em;
    margin: 10px 20px 60px auto;
    width: 70%;
    height: 100%;
    padding-top: 35px;
}

.about p {
    margin-bottom: 20px;
    letter-spacing: 0.1em;
}

.about p:nth-child(5) {
    margin-top: 120px;
}

.work-section {
    float: right;
    width: 75%;
}

.gallery {
    top: -92em;
    height: 800px;
    padding-top: 50px;
}

.row {
    height: 200px;
    justify-content: right;
    flex-basis: 0 0 90%;
}

.row .row2 {
    /* Approximates both columns */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.column {
    flex: 0 0 50%;
    margin-left: 20px;
}

.column p {
    bottom: 0;
    padding: 10px;
    /* Put text above the image */
    z-index: 1;
}

.card-content a,
footer a {
    color: var(--light-accent);
}

.col1 {
    flex: 0 0 45%;
    margin-top: 7px;
    height: 624px;
}

.col2 {
    width: 50%;
    height: 93%;
}

.gallery-img {
    opacity: 0.8;
    border: 3px solid var(--light-accent);
    border-radius: 10px;
    height: 100%;
}

.gallery-img:hover,
.resume {
    opacity: 2;
    /* On hover creates a motion effect */
    transition: .2s ease-out;
    /* Makes the border larger and adds shadow */
    border: 4px double var(--light-accent);
    box-shadow: 0 6px 20px var(--light-accent);
}

/* Contact Section */
.contact-section {
    height: 20vh;
}

.contact-container {
    top: 172em;
    left: 22em;
    justify-content: space-around;
    overflow: hidden;
    margin: 80px 10px 0px auto;
    width: 70%;
    padding: 3px;
}

.card-face {
    /* Motion effect timing */
    transition: .5s;
    width: 220px;
    height: 160px;
}

.card-face.face1 {
    /* Put face 1 on the front */
    z-index: 1;
    /* Makes face 1 cover face 2 */
    transform: translateY(60px);
}

.card-face.face1 h4 {
    font-size: 16px;
}

.card-face.face1,
.card-face.face2 {
    border-radius: 50%;
}

.contact-card:hover .card-face.face1,
.contact-card:hover .card-face.face2 {
    /* Makes it go up to show face 2 */
    transform: translateY(0);
    box-shadow: 0 2px 20px var(--light-accent);
    margin-bottom: 8px;
}

.card-content {
    opacity: 0.8;
    transition: 0.2s;
}

.card-content i {
    display: inline-block;
    font-size: 50px;
}

.card-face.face2 {
    /* Makes face 1 cover face 2 */
    transform: translateY(-100px);
    box-shadow: 0 4px 10px var(--light-accent);
    box-sizing: border-box;
    padding: 5px;
    background: var(--light-shades);
}

.card-content a {
    margin: 8px auto;
    /* Accounts for any border and padding in the values for the anchor's width and height */
    box-sizing: border-box;
    outline: 1px dashed var(--light-accent);
    padding: 10px 15px;
    font-size: 14px;
}

#resume {
    margin-top: 20px;
    text-align: center;
}

footer {
    margin-top: 40px;
    margin-bottom: 10px;
}

footer p,
footer a {
    font-size: 14px;
}