:root {
    --dark-shades: #240046;
    --dark-accent: #6444c3;
    --main-brand: #49d3f4;
    --light-accent: #f0a0cf;
    --light-shades: #f6eef3;
    --gradient: linear-gradient(45deg, var(--main-brand), var(--light-accent), var(--dark-accent));
    --heading: 'Oooh Baby', cursive;
    --body: 'Montserrat', sans-serif;
}

* {
    margin: 0;
}

body {
    background-color: var(--light-shades);
    font-family: var(--body);
    color: var(--dark-shades);
}

/* Extra large devices (large laptops and desktops */
/* @media screen and (min-width: 1200px) {} */

/* Large devices (laptops/desktops) */
/* @media screen and (min-width: 992px) {} */

/* Medium devices (landscape tablets/iPad) */
/* @media screen and (min-width: 768px) {} */

/* Small devices (portrait tablets/iPad and large phones) */
/* @media screen and (min-width: 600px) {} */

/* Extra small devices (phones) */
/* @media screen and (max-width: 600px) {} */

/* Header Section */

header {
    height: 8vh;
    padding: 5px;
}

header,
.standout,
button,
.icon-section i,
.about p:nth-child(5),
footer a:hover {
    background: var(--gradient);
}

h1,
nav a,
button a,
i {
    color: var(--light-shades);
}

h1 {
    margin-top: 13px;
    margin-left: 20px;
    font-size: 35px;
    font-family: var(--heading);
    letter-spacing: .25em;
}

h1,
nav {
    display: inline-flex;
}

nav {
    float: right;
    margin-top: 14px;
    margin-right: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

nav a {
    margin-left: 25px;
}

nav a i {
    margin-right: 6px;
}

nav a:hover {
    background: -webkit-linear-gradient(45deg, var(--dark-accent), var(--light-accent), var(--main-brand));
}

/* text-fill needs to be transparent to show the gradient */
nav a:hover,
.standout,
.icon-section i,
.about p:nth-child(5),
footer a:hover {
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
}

.intro-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.sub-header {
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    flex-direction: row;
    display: flex;
    height: 65vh;
}

figure {
    position: relative;
    align-items: center;
    justify-content: center;
    flex: 0 0 50%;
    flex-direction: row;
    padding-bottom: 20px;
}

figure img {
    position: absolute;
    top: -11em;
    left: -12em;
    align-items: center;
    justify-content: center;
    flex: 0 0 60%;
    height: 45vh;
}

.intro {
    position: absolute;
    left: 34em;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
    flex-direction: row;
    margin-right: 80px;
}

h2 {
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3.5s steps(50, end),
        blink-caret .75s step-end infinite;
    margin: 0 auto;
    border-right: .15em solid var(--dark-shades);
    margin-bottom: 36px;
    width: 100%;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: .18em;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    100% {
        border-color: var(--dark-shades);
    }
}

.standout {
    font-weight: 700;
}

.intro p {
    width: 70%;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
}

button {
    margin-top: 90px;
    border: none;
    border-radius: 8%;
    width: 18vw;
    height: 5vh;
}

button i {
    margin-left: 8px;
}

.icon-section {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 35vh;
    margin-left: 90px;
    padding-left: 20px;
}

.icon-section i {
    flex: 0 0 37%;
    font-size: 50px;
    padding: 0 3px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.main-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100px;
}

aside {
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 0 50%;
    padding-top: 50px;
    border-right: 3px solid var(--light-accent);
    width: 20%;
    height: 400vh;
    text-align: center;
}

h3 {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: var(--dark-accent);
}

h3:nth-child(2) {
    margin-top: 300px;
}

#about {
    height: 80vh;
}

#work {
    height: 950px;
    padding-top: 10px;
}

.hidden {
    display: none;
}

.about {
    position: absolute;
    top: 53em;
    left: 23em;
    justify-content: center;
    padding-top: 48px;
    margin-right: 20px;
    margin-bottom: 60px;
    height: 100%;
    width: 70%;
}

.about p {
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: lighter;
    text-align: justify;
    letter-spacing: 0.1em;
}

.about p:nth-child(5) {
    margin-top: 120px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.work {
    position: absolute;
    top: 110em;
    left: 15em;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.gallery {
    align-content: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 800px;
    padding-top: 60px;
}

.row {
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-basis: 0 0 100%;
    flex-wrap: wrap;
    display: flex;
}

.row .row2 {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.column {
    position: relative;
    top: 0;
    left: 0;
    flex: 0 0 45%;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    text-align: center;
}

.column p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    background: var(--gradient);
    color: var(--light-shades);
}

#img1 {
    flex: 0 0 40%;
    margin-bottom: 16px;
    height: 630px;
}

#img2,
#img3,
#img4 {
    height: 95%;
    width: 50%;
}

.column img {
    border: 3px solid var(--light-accent);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover {
    opacity: 2;
    border: 8px double var(--light-accent);
    transition: .4s ease-in-out;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


/* Contact Section */
/* #contact {
    height: 50vh;
}

.contact {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 20%;
}

.contact-container {
    position: absolute;
    top: 172em;
    left: 22em;
    flex-wrap: wrap;
    justify-content: space-around;
    float: right;
    display: flex;
    overflow: hidden;
    margin-right: 10px;
    width: 70%;
    padding: 3px;
}

.card-face {
    transition: .5s;
    width: 220px;
    height: 160px;
}

.card-face.face1 {
    puts the face 1 on the front
    z-index: 1;
    makes the face 1 cover face 2
    transform: translateY(60px);
    text-align: center;
}

.card-face.face1 h4,
.contact-container .contact-card .card-face.face2 .card-content a:hover {
    color: var(--light-shades);
}

.card-face.face1 h4 {
    font-size: 16px;
}

.card-face.face1,
.card-content a:hover {
    background: var(--gradient);
}

.card-face.face1,
.card-face.face2 {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
}

.contact-card:hover .card-face.face1,
.contact-card:hover .card-face.face2 {
    makes it go up to show face 2
    transform: translateY(0);
    box-shadow: 0 2px 20px var(--light-accent);
    margin-bottom: 8px;
}

.card-content {
    opacity: 0.8;
    transition: 0.2s;
}

.card-content i {
    display: inline-block;
    font-size: 50px;
}

.card-face.face2 {
    makes the face 1 cover face 2
    transform: translateY(-100px);
    box-shadow: 0 4px 10px var(--light-accent);
    box-sizing: border-box;
    padding: 5px;
    background: var(--light-shades);
}

.card-content a {
    margin: 8px auto;
    box-sizing: border-box;
    outline: 1px dashed var(--light-accent);
    padding: 10px 15px;
    font-size: 14px;
    color: var(--light-accent);
} */


footer {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

footer p {
    color: var(--dark-accent);
}

footer p,
footer a {
    font-size: 15px;
}

footer a {
    color: var(--light-accent);
}