:root {
    --dark-shades: #240046;
    --dark-accent: #6444c3;
    --main-brand: #49d3f4;
    --light-accent: #f0a0cf;
    --light-shades: #f6eef3;
    --gradient: linear-gradient(45deg, var(--main-brand), var(--light-accent), var(--dark-accent));
    --heading: 'Oooh Baby', cursive;
    --body: 'Montserrat', sans-serif;
}

* {
    margin: 0;
}

body {
    width: 100vw;
    background-color: var(--light-shades);
    font-family: var(--body);
    color: var(--dark-shades);
}

/* Extra large devices (large laptops and desktops */
/* @media screen and (min-width: 1200px) {} */

/* Large devices (laptops/desktops) */
/* @media screen and (min-width: 992px) {} */

/* Medium devices (landscape tablets/iPad) */
/* @media screen and (min-width: 768px) {} */

/* Small devices (portrait tablets/iPad and large phones) */
/* @media screen and (min-width: 600px) {} */

/* Extra small devices (phones) */
/* @media screen and (max-width: 600px) {} */

/* Header Section */

header {
    height: 8vh;
    padding: 5px;
}

header,
.standout,
button,
.icon-section i,
.about p:nth-child(5),
footer a:hover {
    background: var(--gradient);
}

h1,
nav a,
button a,
i {
    color: var(--light-shades);
}

h1 {
    margin: 13px auto 14px 20px;
    font-size: 35px;
    font-family: var(--heading);
    letter-spacing: .25em;
}

h1,
nav {
    display: inline-block;
}

nav {
    float: right;
    margin: 14px 20px 10px 10px;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

nav a {
    margin-left: 25px;
}

nav a i {
    margin-right: 6px;
}

nav a:hover {
    background: -webkit-linear-gradient(45deg, var(--dark-accent), var(--light-accent), var(--main-brand));
}

/* text-fill needs to be transparent to show the gradient */
nav a:hover,
.standout,
.icon-section i,
.about p:nth-child(5),
footer a:hover {
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
}

.container {
    position: relative;
    width: 100vw;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sub-header {
    position: relative;
    left: 23em;
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    width: 70%;
    height: 95vh;
}

.avatar {
    top: -5em;
    left: -7em;
    justify-content: left;
    display: flex;
    flex: 0 0 10%;
    text-align: left;
}

.avatar img {
    transform: scale(0.5, 0.5);
}

.avatar,
.sub-header,
h2,
.sub-header p,
button,
.icon-section {
    position: absolute;
}


h2 {
    top: -4em;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3.5s steps(50, end),
        blink-caret .75s step-end infinite;
    margin: 0 auto;
    border-right: .15em solid var(--dark-shades);
    width: 30%;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: .18em;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 30%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    25% {
        border-color: var(--dark-shades);
    }
}

.standout {
    font-weight: 700;
}

.sub-header p {
    top: -3em;
    width: 80%;
    font-size: 20px;
    line-height: 35px;
    font-weight: lighter;
}

button {
    top: 6em;
    border: none;
    border-radius: 8%;
    width: 18vw;
    height: 5vh;
}

button i {
    margin-left: 8px;
}

.icon-section {
    top: 35em;
    left: 13em;
    width: 100%;
    padding-left: 105px;
}

.icon-section i {
    font-size: 55px;
    margin-left: 60px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

aside {
    position: absolute;
    top: 50em;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 20%;
    margin-right: 15px;
    padding: 10px;
    border-right: 3px solid var(--light-accent);
    width: 20%;
    text-align: center;
}

h3 {
    margin-bottom: 100px;
    padding-bottom: 120px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: var(--dark-accent);
}

.main-content {
    display: flex;
    flex: 0 0 10%;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    width: 75%;
    padding: 20px;
}

.hidden {
    display: none;
}

.about {
    position: absolute;
    top: 50rem;
    left: 25rem;
    float: right;
    margin-right: 20px;
    margin-bottom: 60px;
    width: 69%;
    height: 70vh;
}

#about {
    height: 70vh;
}

.about p {
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: lighter;
    text-align: justify;
    letter-spacing: 0.1em;
}

.about p:nth-child(5) {
    margin-top: 120px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

#work {
    margin-top: 140px;
    height: 1000px;
}

.work {
    position: absolute;
    top: 101em;
    left: 22em;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: 1000px;
}

.gallery {
    align-content: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 1000px;
}

.row {
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    flex-wrap: wrap;
    display: flex;
}

.row .row2 {
    margin-bottom: 20px;
}

.column {
    position: relative;
    top: 0;
    left: 0;
    flex: 0 0 50%;
    text-align: center;
    align-items: stretch;
}

.column p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    background: var(--gradient);
    color: var(--light-shades);
}

#img1 {
    flex: 0 0 40%;
    height: 600px;
}

#img2,
#img3,
#img4 {
    height: 100%;
    width: 100%;
}

.column img {
    border: 3px solid var(--light-accent);
    height: 100%;
    width: 100%;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover {
    transition: .4s ease-out;
    border: 8px solid var(--main-brand);
}


/* Contact Section */
#contact {
    height: 50vh;
}

.contact {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contact-container {
    position: absolute;
    top: 172em;
    left: 22em;
    flex-wrap: wrap;
    justify-content: space-around;
    float: right;
    display: flex;
    overflow: hidden;
    margin-right: 10px;
    width: 70%;
    padding: 3px;
}

.card-face {
    transition: .5s;
    width: 220px;
    height: 160px;
}

.card-face.face1 {
    /* puts the face 1 on the front */
    z-index: 1;
    /* makes the face 1 cover face 2 */
    transform: translateY(60px);
    text-align: center;
}

.card-face.face1 h4,
.contact-container .contact-card .card-face.face2 .card-content a:hover {
    color: var(--light-shades);
}

.card-face.face1 h4 {
    font-size: 16px;
}

.card-face.face1,
.card-content a:hover {
    background: var(--gradient);
}

.card-face.face1,
.card-face.face2 {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
}

.contact-card:hover .card-face.face1,
.contact-card:hover .card-face.face2 {
    /* makes it go up to show face 2 */
    transform: translateY(0);
    box-shadow: 0 2px 20px var(--light-accent);
    margin-bottom: 8px;
}

.card-content {
    opacity: 0.8;
    transition: 0.2s;
}

.card-content i {
    display: inline-block;
    font-size: 50px;
}

.card-face.face2 {
    /* makes the face 1 cover face 2 */
    transform: translateY(-100px);
    box-shadow: 0 4px 10px var(--light-accent);
    box-sizing: border-box;
    padding: 5px;
    background: var(--light-shades);
}

.card-content a {
    margin: 8px auto;
    box-sizing: border-box;
    outline: 1px dashed var(--light-accent);
    padding: 10px 15px;
    font-size: 14px;
    color: var(--light-accent);
}

footer section footer {
    position: relative;
    bottom: -120px;
    left: 38%;
    margin: 20px auto;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

footer p {
    padding-bottom: 5px;
    color: var(--dark-accent);
}

footer p,
footer a {
    font-size: 15px;
}

footer a {
    color: var(--light-accent);
}